<!-- Icono para abrir/cerrar el menú -->


<i id="toggle-menu" class="material-icons .menu__item-icon">menu</i>

<!-- Menú principal -->
<ul class="menu__list-responsive" id="my-responsive-menu">
    <li class="menu__list-element" data-page="home">
        <i class="material-icons menu__item-icon">home</i>
        <p class="menu__item-text">Home</p>
    </li>
    <li class="menu__list-element" data-page="blog">
        <i class="material-icons menu__item-icon">web</i>
        <p class="menu__item-text">Blog</p>
    </li>
    <li class="menu__list-element" data-page="tournaments">
        <i class="material-icons menu__item-icon">sports_esports</i>
        <p class="menu__item-text">Tournaments</p>
    </li>
    <li class="menu__list-element" data-page="about">
        <i class="material-icons menu__item-icon">badge</i>
        <p class="menu__item-text">About</p>
    </li>
    <li class="menu__list-element" data-page="contact">
        <i class="material-icons menu__item-icon">mail</i>
        <p class="menu__item-text">Contact</p>
    </li>
</ul>

<!-- Ícono de usuario -->
<ul class="menu__list menu__list--rtl">
    <li class="menu__list-element">
        <i class="material-icons menu__item-icon" data-page="profile">person</i>
    </li>
    <li class="menu__list-element">
        <i id="theme-toggle" class="material-icons menu__item-icon">light_mode</i>
    </li>
</ul>