<!-- Icono para abrir/cerrar el menú -->
<div>
    <a class="menu__list-element menu__icon" id="toggle-menu" href="#">
        <i class="material-icons menu__item">menu</i>
    </a>
</div>

<!-- Menú principal -->
<ul class="menu__list-responsive" id="my-responsive-menu">
    <li class="menu__list-element">
        <a href="#" class="menu__item" data-page="home">Home</a>
    </li>
    <li class="menu__list-element">
        <a href="#" class="menu__item" data-page="blog">Blog</a>
    </li>
    <li class="menu__list-element">
        <a href="#" class="menu__item" data-page="tournaments">Tournaments</a>
    </li>
    <li class="menu__list-element">
        <a href="#" class="menu__item" data-page="about">About</a>
    </li>
    <li class="menu__list-element">
        <a href="#" class="menu__item" data-page="contact">Contact</a>
    </li>
</ul>

<!-- Ícono de usuario -->
<ul class="menu__list menu__list--rtl" id="my-responsive-menu">
    <li class="menu__list-element">
        <a href="#">
            <i class="material-icons menu__item" data-page="profile">person</i>
        </a>
    </li>
    <li class="menu__list-element">
        <a href="#">
            <i id="theme-toggle" class="material-icons menu__item">light_mode</i>
        </a>
    </li>
</ul>