/* Variables */
:root {
    /* Dark mode */
    --color-background-schema-dark: #121212;
    --color-background-content-dark: #323b30;
    --color-background-card-dark: #4b5348;
    --color-text-dark: #FFFFFF;
    --color-text-accent-dark: #FFFFFF;
    /* Light Mode */
    --color-background-schema-light: #f3f3f1;
    --color-background-content-light: #cbcec1;
    --color-background-card-light: #fefffa;
    --color-text-light: #1e1e1c;
    --color-text-accent-light: #5d5d59;
    /* Texto/acento en gris medio */
    /**/
    --font-size-base: 100%;
    --font-family-base: "Raleway", sans-serif;
    --spacing-base: 1rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipography */
body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base) !important;
}

body.light-theme {
    --color-background-schema: var(--color-background-schema-light);
    --color-background-content: var(--color-background-content-light);
    --color-background-card: var(--color-background-card-light);
    --color-text: var(--color-text-light);
    --color-text-accent: var(--color-text-accent-light);
}

body.dark-theme {
    --color-background-schema: var(--color-background-schema-dark);
    --color-background-content: var(--color-background-content-dark);
    --color-background-card: var(--color-background-card-dark);
    --color-text: var(--color-text-dark);
    --color-text-accent: var(--color-text-accent-dark);
}

/* Layout */
.wrapper {
    min-height: 100vh;
    display: flex;
    /* Direction of the items, can be row or column */
    flex-direction: column;
}

/* Navbar */
.container__navbar {
    background: var(--color-background-schema);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
}

.container__navbar>*:last-child {
    margin-left: auto;
    /* Push last element to right */
}

.container__navbar a {
    text-decoration: none;
}

/* Menu */
.menu__list {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: stretch;
}

.menu__list-responsive {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    align-items: stretch;
}

.menu__list--rtl {
    direction: rtl;
}

.menu__list-element {
    display: flex;
    align-items: center;
}

.menu__item {
    font-weight: bold;
    display: block;
    padding: .8rem 1rem .8rem 1rem;
    width: 100%;
    color: var(--color-text);
    text-decoration: none;
    transition: background 0.2s ease, transform 0.2s ease;
}

.menu__item-text {
    font-weight: bold;
    display: block;
    padding: .8rem 1rem .8rem 0rem;
    width: 100%;
    color: var(--color-text);
    text-decoration: none;
    transition: background 0.2s ease, transform 0.2s ease;
}

.menu__item-icon {
    display: block;
    padding-right: .3rem;
    padding-left: .4rem;
    width: 100%;
    color: var(--color-text);
    text-decoration: none;
    transition: background 0.2s ease, transform 0.2s ease;
}

.menu__list-element:hover,
.menu__list-element:focus {
    background: var(--color-background-content);
}

.menu__list-element-active {
    background: var(--color-background-content);
}

.menu__icon {
    display: none;
}

@media screen and (max-width:684px) {

    .menu__item-text {
        display: none;
    }

}

/* Style for small screens */
@media screen and (max-width:400px) {

    .menu__item-text {
        display: block;
    }

    .menu__list-responsive {
        display: none;
    }

    .menu__icon {
        display: flex;
        cursor: pointer;
    }

    .menu__list-responsive.responsive {
        display: flex;
        flex-direction: column;
    }
}

/* Style for small screens */
@media screen and (max-width:500px) {
    .content.h1 {
        font-size: 1.5rem;
    }
}

/* Content */
.content {
    padding: calc(var(--spacing-base) * 2);
    background: var(--color-background-content);
    color: var(--color-text);
    flex: 1;
    overflow-y: auto;
}

.content>h1 {
    font-size: 2rem;
    color: var(--color-text);
    text-wrap: nowrap;
    padding: 1rem 0rem 1rem 0rem;
}

/* Footer */
.container__footer {
    /* Ya no es absoluto */
    background-color: var(--color-background-schema);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    color: var(--color-text);
}

.footer-left {
    margin-left: 20%;
}

.footer-right {
    margin-left: auto;
    list-style: none;
}

.footer-right ul {
    display: flex;             /* Convierte a flex container */
    list-style: none;          /* Quita las viñetas */
    margin: 0;                 /* Ajusta margen a tu preferencia */
    padding: 0;
    gap: 1rem;                 /* Espacio entre elementos (opcional) */
    justify-content: flex-start;
}

/* Blos posts container */
.post-card-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    background: var(--color-background);
}

.blog-post-card {
    display: grid;
    width: 100%;
    height: 100%;
    background: var(--color-background-card);
    grid-template-areas:
        "meta meta"
        "title title"
        "text text"
        "author author";
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 8rem 3rem 4rem 2rem;
    transition: .1s;
    -webkit-transition: .1s;
    cursor: pointer;
}

.blog-post-card:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.blog-post-card>.meta {
    grid-area: meta;
}

.blog-post-card>.meta>.photo {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    transition: transform 0.2s;
    border-radius: 5px 5px 0px 0px;
    background-size: cover;
    background-position: center center;
}

.blog-post-card>.description-title {
    grid-area: title;
    color: var(--color-text-accent);
    padding-left: 2%;
    align-self: center;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.blog-post-card>.description-title>.line {
    height: 1px;
    px;
    width: 24%;
    justify-content: left;
    margin-left: 6%;
    background-color: var(--color-text);
}

.blog-post-card>.description-text {
    grid-area: text;
    padding-left: 5%;
    padding-right: 3%;

}

.blog-post-card>.description-text>p {
    color: var(--color-text);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-post-card>.description-text>p::first-letter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}

.blog-post-card>.author {
    grid-area: author;
    align-self: center;
    padding-right: 8%;
    justify-self: right;
}

.blog-post-card>.author p {
    font-family: var(--font-family-base);
    font-size: smaller;
    font-style: italic;
    grid-area: author;
}