/* Variables */
:root {
    /* Dark mode */
    --color-background-schema-dark: #121212;
    --color-background-content-dark: #323b30;
    --color-background-card-dark: #3b4438;
    --color-text-dark: #FFFFFF;
    --color-text-accent-dark: #FFFFFF;
    /* Light Mode */
    --color-background-schema-light: #f3f3f1;
    --color-background-content-light: #cbcec1;
    --color-background-card-light: #fefffa;
    --color-text-light: #1e1e1c;
    --color-text-accent-light: #5d5d59;
    /* Texto/acento en gris medio */
    /**/
    --font-size-base: 100%;
    --font-family-base: "Raleway", sans-serif;
    --spacing-base: 1rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipography */
body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base) !important;
}

body.light-theme {
    --color-background-schema: var(--color-background-schema-light);
    --color-background-content: var(--color-background-content-light);
    --color-background-card: var(--color-background-card-light);
    --color-text: var(--color-text-light);
    --color-text-accent: var(--color-text-accent-light);
}

body.dark-theme {
    --color-background-schema: var(--color-background-schema-dark);
    --color-background-content: var(--color-background-content-dark);
    --color-background-card: var(--color-background-card-dark);
    --color-text: var(--color-text-dark);
    --color-text-accent: var(--color-text-accent-dark);
}

/* Layout */
.wrapper {
    min-height: 100vh;
    display: flex;
    /* Direction of the items, can be row or column */
    flex-direction: column;
}

/* Navbar */
.container__navbar {
    background: var(--color-background-schema);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
}

.container__navbar>*:last-child {
    margin-left: auto;
    /* Push last element to right */
}

.container__navbar a {
    text-decoration: none;
}

/* Menu */
.menu__list {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: stretch;
}

.menu__list-responsive {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    align-items: stretch;
}

.menu__list--rtl {
    direction: rtl;
}

.menu__list-element {
    display: flex;
    align-items: stretch;
}

.menu__item {
    font-weight: bold;
    display: block;
    padding: 14px 16px;
    width: 100%;
    color: var(--color-text);
    text-decoration: none;
    transition: background 0.2s ease, transform 0.2s ease;
}

.menu__list-element:hover,
.menu__list-element:focus {
    background: var(--color-background-content);
}

.menu__list-element-active {
    background: var(--color-background-content);
}

.menu__icon {
    display: none;
}

/* Style for small screens */
@media screen and (max-width:600px) {
    .menu__list-responsive {
        display: none;

    }

    .menu__icon {
        display: flex;
        cursor: pointer;
    }

    .menu__list-responsive.responsive {
        display: flex;
        flex-direction: column;
    }
}

/* Style for small screens */
@media screen and (max-width:500px) {
    .content.h1 {
        font-size: 1.5rem;
    }
}

/* Content */
.content {
    padding: calc(var(--spacing-base) * 2);
    background: var(--color-background-content);
    color: var(--color-text);
    flex: 1;
    overflow-y: auto;
}

.content>h1 {
    font-size: 2rem;
    color: var(--color-text);
    text-wrap: nowrap;
    padding: 1rem 0rem 1rem 0rem;
}

.content p::first-letter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}

/* Footer */
.container__footer {
    /* Ya no es absoluto */
    background-color: var(--color-background-schema);
    text-align: center;
    padding: 1rem;
    color: var(--color-text);
}

/* Blos posts container */
.post-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 12px;
    row-gap: 12px;
}

/* Blog preview card */
.blog-post-card {
    display: flex;
    min-width: 20rem;
    max-width: 20rem;
    height: 23rem;
    flex-direction: column;
    justify-content: start;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .5);
    background-color: var(--color-background-card);
    margin-bottom: 1.6%;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-post-card>.meta {
    position: relative;
    z-index: 0;
    height: 10rem;
    flex: 1;
}

.blog-post-card>.meta>.photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.blog-post-card>.description {
    padding: 1rem;
    background: var(--color-background-card);
    position: relative;
    flex: 1;
    z-index: 1;
}

.blog-post-card>.description>h1 {
    color: var(--color-text-accent);
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.blog-post-card>.description>p {
    color: var(--color-text);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-post-card>.description>.read-more {
    margin-top: 1rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.blog-post-card>.description a {
    text-decoration: none;
    color: var(--color-text-accent);
}